h2 {
  color: red;
  transform: translateY(100px);
  right: 10px;
  top: 20px;
  left: 100px;
  z-index: 1000;
  position: relative;
}

.wrapper {
  position: relative;
  height: 100%;
  border: 1px solid green;
  min-height: 700px;
}